# Laravel
/vendor
/node_modules
/public/storage
/storage/*.key
.env
.env.*
.phpunit.result.cache
Homestead.json
Homestead.yaml
npm-debug.log
yarn-error.log
/.idea
.DS_Store

# Composer
composer.lock

# Laravel Mix
/public/js/*
!/public/js/app.js
/public/css/*
!/public/css/app.css
